<div class="company fluid-height">
	<div>
		<section>
			<h2>MSM</h2>
			<p>We're Månsarps Svets & Maskin (MSM), a privately owned construction, equipment and security manufacturing company established in 1967. Today, we're run by the second generation of the Håkanssson family. For over 45 years MSM has had a stronghold on the construction industry in Northern Europe and is focused on innovation, quality and service. Through years of experience, we've dealt with all kinds of customers with one thing in common, 100% satisfaction.</p>
		</section>
		<img src="./images/company-stripes.jpg" alt="company-stripes" class="img-responsive" />
	</div>
</div>