<div class="company container-fluid">
      <div class="column-1 col-height">
      	<section class="msm">
      		<h2>MSM</h2>
      		<p>We’re Månsarps Svets & Maskin (MSM), a privately owned construction and security manufacturing company established in 1967. Today, we’re run by the second generation of the Håkanssson family. For over 45 years MSM has had a stronghold on the construction industry and is focused on quality, service and delivery. Through years of experience, we’ve dealt with all kinds of customers with one thing in common, 100% satisfaction.</p>
      	</section>
      	<figure class="rimage">
      		<img src="./images/company-1.jpg" alt="company-1" class="img-responsive" />
      	</figure>
      	<section class="chutes">
			<h2>MIXER CHUTES</h2>
      		<p>Our 9-meter chutes have become the industry-standard in Scandinavia. Our latest conquest is a 10-meter chute. It’s a world record and has generated headlines and crazy buzz across the industry. New design, low weight, user-friendly electronics, and controlla ble telescopic chute with no dangling hydraulic hoses is where it’s at.</p>
      	</section>
      </div>
      <div class="column-2 col-height">
      	<figure class="rimage">
      		<img src="./images/company-2.jpg" alt="company-2" class="img-responsive" />
      	</figure>	
      	<section class="stuff">
			<h2>WE MAKE BAD ASS STUFF</h2>
      		<p>Like truck bodies. Lock systems. Mixer chutes. And rotators. We also dabble in prison cells and concrete mixing plants. As if that’s not enough, we install mixers, platforms, pumps and conveyors. Over the decades, we’ve built up solid expertise and are constantly innovating and developing with our products rolling around on construction vehicles throughout Europe.</p>
      		<p>Truck Bodies  We’re one of Scandinavia’s largest companies building truck bodies for construction vehicles. We like bodybuilding. So what?</p>
      	</section>
      </div>
      <div class="column-3 col-height">
      	<section class="security">
			<h2>SECURITY</h2>
      		<p>Working closely with the police and the prison service, we have become a vital partner in the construction and renovation of cells for police stations, remand centers and prisons throughout Sweden.  We’re also involved in construction work for the emergency services. We’ve supplied over 1,000 storage rooms/units, designing and manufacturing customized security windows and doors.</p>
      	</section>
      	<figure class="">
      		<img src="./images/company-3.jpg" alt="company-3" class="pull-left" />
      	</figure>
      	<section class="lock">
			<h2>QUICK LOCK SYSTEM</h2>
      		<p>Our quick-lock system makes your construction vehicle extremely versatile with the ability to switch the body of your vehicle in less than 10 minutes. The MSM HS fast -lock system opens a whole range of new opportunities to utilize your truck fleet for multiple  tasks. This well proven, fully-hydraulic lock system is designed and built for maximum reliability and is the smoothest in the market.</p>
      		
      	</section>
      	<div class="clearfix"></div>
      	<section class="concrete">
      		<h2>CONCRETE MIXING PLANTS</h2>
      		<p>We have also worked with ORU, one of Europe’s largest manufacturers of equipment for handling concrete. In partnership with ORU, we can supply stationary or mobile concrete mixing plants to our clients.</p>
      	</section>
      </div>
</div>