<div class="contact">
	<div>
			<section>
				<span class="left">
					<h2>USA Headquarters</h2>
					<p>1301 Industrial Park Dr.<br>
					Tuscaloosa, AL 35401<br>
					USA<br>
					<br>
					p. 205-394-1800<br>
					info@exextenz.com</p>
				</span>
				<span class="right">
					<h2>European Headquarters</h2>
					<p>Smörviksvägen 9<br>
					SE 562 50 Månsarp<br>
					Sweden<br>
					<br>
					p. +46 (0) 36-363060<br>
					info@msm.se</p>
				</span>
				<div class="clearfix"></div>				
			</section>
			<img src="./images/contact-stripes.jpg" alt="contact-stripes" class="img-responsive" />
	</div>
</div>