<div class="contact">
	<div>

			<section>
				<span class="left">
					<h2>USA Headquarters</h2>
					<p>1301 Industrial Park Dr.<br>
					Tuscaloosa, AL 35401<br>
					USA<br>
					<br>
					p. 205-764-1300<br>
					p. 800-764-1300<br>
					<a href='m&#97;ilto&#58;&#105;n&#102;o&#64;&#101;&#122;&#101;xt%&#54;5n&#122;&#46;co&#37;&#54;D'>&#105;n&#102;&#111;&#64;e&#122;ext&#101;&#110;&#122;&#46;co&#109;</a>
					</p>
				</span>
				<span class="right">
					<h2>European Headquarters</h2>
					<p>Smörviksvägen 9<br>
					SE 562 50 Månsarp<br>
					Sweden<br>
					<br>
					p. +46 (0) 36-363060<br>
					<a href='mail&#116;o&#58;i&#110;%66o&#64;&#109;&#115;m&#46;se'>&#105;nfo&#64;msm&#46;&#115;&#101;</a>
					</p>
				</span>
				<div class="clearfix"></div>				
			</section>
			<img src="./images/contact-stripes.jpg" alt="contact-stripes" class="img-responsive" />

	</div>
</div>