<div class="contact">
	<div>
			<section>
				<span class="left">
					<h2>USA Headquarters</h2>
					<p>1301 Industrial Park Dr.<br>
					Tuscaloosa, AL 35401<br>
					USA<br>
					<br>
					p. 205-394-1800<br>
					<a href="&#105;&#110;&#102;&#111;&#64;&#101;&#120;&#101;&#120;&#116;&#101;&#110;&#122;&#46;&#99;&#111;&#109;">&#105;&#110;&#102;&#111;&#64;&#101;&#120;&#101;&#120;&#116;&#101;&#110;&#122;&#46;&#99;&#111;&#109;</a></p>
				</span>
				<span class="right">
					<h2>European Headquarters</h2>
					<p>Smörviksvägen 9<br>
					SE 562 50 Månsarp<br>
					Sweden<br>
					<br>
					p. +46 (0) 36-363060<br>
					<a href="&#105;&#110;&#102;&#111;&#64;&#109;&#115;&#109;&#46;&#115;&#101;">&#105;&#110;&#102;&#111;&#64;&#109;&#115;&#109;&#46;&#115;&#101;</a></p>
				</span>
				<div class="clearfix"></div>				
			</section>
			<img src="./images/contact-stripes.jpg" alt="contact-stripes" class="img-responsive" />
	</div>
</div>