<div class="ezextenz">
	<section>
		<h2>HELLO EZE.</h2>
		<p>When you have a job to do, you want to be equipped with the best technology. Introducing, <span class="red">EZE</span>XTENZ, a 30-foot, fully hydraulic, remote-controlled, telescopic concrete chute technology designed for all standard Ready Mix trucks.  This highly innovative concrete chute is faster, easier and more efficient than the conventional chute. It is easy to maintain, improves worker safety and drastically cuts onsite labor costs, making it an industry game changer.
			<br>
			<br>
			With one innovation at a time, we're here to help you build a little bit better.</p>
	</section>
	<figure>
		<a data-target="flare" href="http://youtu.be/m-p2VV8qV2w"><img class="img-responsive" src="./images/video-thumb.jpg" alt="video-thumb" /></a>
	</figure>
</div>