<div class="ezextends">
	<section id="intro">
		<h1>HELLO EZE.</h1>
		<p>When you have a job to do, you want to be equipped with the besttechnology out there. Introducing, EZEXTENZ, a 9-meter controllable telescopic concrete mixer chute. That's over 30 feet of highly innovative chute extending technology developed for jobs requiring extreme precision. With our new radio unit, pouring is easy and efficient using simple commands, the chute can swing 180° making any inaccessible areas now reachable. With one innovation at a time, we’re just trying to help you build a little bit better.</p>
	</section>
	<div class="pull-left video-wrap">
		<img class="img-responsive" src="./images/video-thumb.png" alt="video-thumb" />
	</div>
	<div class="pull-left stripes-wrap">
		<img class="img-responsive" src="./images/ezextends-stripes.png" alt="ezextends-stripes" />
	</div>
</div>