<div class="ezextenz">
	<section>
		<h2>HELLO EZE.</h2>
		<p>When you have a job to do, you want to be equipped with the best technology. Introducing, EZEXTENZ, a 30-foot, fully hydraulic, remote-controllable, telescopic concrete chute. This highly innovative chute technology is designed for any job and will make all your concrete placing more efficient. With the remote control unit, pouring is made easy using simple commands.  The chute can swing 180&deg; making any area within the radius now reachable with a touch of a button. With one innovation at a time, we’re just trying to help you build a little bit better.</p>
	</section>
	<figure>
		<a data-target="flare" href="http://youtu.be/m-p2VV8qV2w"><img class="img-responsive" src="./images/video-thumb.jpg" alt="video-thumb" /></a>
	</figure>
</div>