<div class="going">
	<div>
		<section class="install">
			<h2>INSTALLATION</h2>
			<p>Installation only takes 1 week. We operate out of Tuscaloosa, Alabama using our US based experts for the initial installation but the long-term plan is to partner up with workshops throughout the US as needed.</p>
			<div class="clearfix"></div>
		</section>
		<section class="training">
			<h2>TRAINING</h2>
			<p>The chute is pretty easy to operate. There is a demo video provided and we also give you two hours with one of our experts Additional training hours are available upon request for an additional fee. Please note, that no special licensing is required to operate this equipment.</p>
			<div class="clearfix"></div>
		</section>
	</div>
</div>