<div class="going">

	<div>
		<section class="hardwork">
			<h2>HARD WORK MADE EZE</h2>
			<p>Operating the <span class="red">EZE</span>XTENZ concrete chute with the remote control is simple and requires very little training. With the touch of a button what once was a hard task has now been made fast and easy. With the 30-foot telescopic chute and the 180&deg; swivel range you don't have to move the truck as often. The hard and manual labor getting the concrete to the toughest places can now be done quickly and automatically using the remote control, making the concrete placing and finishing more precise, faster and easier to complete.</p>
			<p>The highly efficient chute technology significantly reduces the hard labor required of the operator, expanding the possible pool of qualified drivers. It decreases the number of workers needed at the construction site and in some cases can also replace the need for a costly pump truck. This improves the cycle time resulting in a more productive operation, creating a true competitive advantage for both the contractor and the Ready Mix supplier.</p>
		</section>
		<section class="maintenance">
			<h2>MAINTENANCE</h2>
			<p>The telescopic chute requires very little maintenance and is easy to clean. All you need to do is wash the chute for a few minutes after each load, apply form oil 2-5 times a day and power wash at the end of the day. Grease the chute once a month and change the oil once a year. It’s that simple.</p>
			<div class="clearfix"></div>
		</section>
		<section class="install">
			<h2>INSTALLATION</h2>
			<p>Installation at our <span class="red">EZE</span>XTENZ facility in Tuscaloosa, Alabama is included with the purchase of the chute. Installation takes 1 week and chute can be installed on all standard models of rear discharge ready mix trucks.</p>
			<p>It's easy to get started. Just call 800-764-1300 and we'll be happy to help.</p>
			<div class="clearfix"></div>
		</section>		
	</div>

</div>