<div class="going">
	<div>
		<section class="install">
			<h2>INSTALLATION</h2>
			<p>Installation takes 1 week and the chute can be installed on all standard models of ready mix trucks.</p>
			<div class="clearfix"></div>
		</section>
		<section class="training">
			<h2>TRAINING</h2>
			<p>The chute is easy to operate. There is a demo video provided and additional training is available. Please note, that no special licensing is required to operate this equipment.</p>
			<div class="clearfix"></div>
		</section>
	</div>
</div>