<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#ezextenz"><img src="./images/ezextenz-logo.svg" class="logo img-responsive" /></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="ezextenz_" class="active"><a href="#ezextenz">ezextenz</a></li>
        <li id="the-lowdown_"><a href="#the-lowdown">the lowdown</a></li>
        <li id="chute-gallery_"><a href="#chute-gallery">chute gallery</a></li>
        <li id="lets-get-going_"><a href="#lets-get-going">let's get going</a></li>
        <li id="the-company_"><a href="#the-company">the company</a></li>
        <li id="contact_"><a href="#contact">contact</a></li>
      </ul>
      <div class="social-nav">
	      <a href="https://www.facebook.com/pages/Ezextenz-Concrete-Chute/519265954877150" target="_blank"><img src="./images/facebook.jpg" /><span>Facebook Page</span></a>
	      <a href="https://www.youtube.com/channel/UCSLZGhDM_XubwgW4_acp-rg" target="_blank"><img src="./images/youtube.jpg" /><span>YouTube Channel</span></a>
      </div>
    </div><!--/.navbar-collapse -->
  </div>
</div>