.navbar-default {
  background: 		#eaeff2;
  margin-bottom: 	0;
}
.navbar-default .navbar-brand {
  height: 			85px;
  padding-top: 		15px;
}
.navbar-default .navbar-nav {
  margin-top: 		30px;
}
.navbar-default .navbar-nav>li>a {
  padding:   		3px 12px;
  color: 			#f05133;
  text-transform:   uppercase;
  text-shadow: 		none;
  background: 		none;  
  -webkit-box-shadow: none;
  -moz-box-shadow: 	none;
  box-shadow: 		none;
  -webkit-transition: background 0.1s linear,opacity 0.1s linear;
  -moz-transition: 	background 0.1s linear,opacity 0.1s linear;
  -ms-transition: 	background 0.1s linear,opacity 0.1s linear;
  -o-transition: 	background 0.1s linear,opacity 0.1s linear;
  transition: 		background 0.1s linear,opacity 0.1s linear;
  -webkit-font-smoothing: antialiased;			
  opacity: 			.9;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: 			#eaeff2;
  background-color: #f05133;
  -webkit-box-shadow: none;
  -moz-box-shadow: 	none;
  box-shadow: 		none;
  opacity: 			1;  
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: 			#eaeff2;
  background-color: #f05133;
  -webkit-box-shadow: none;
  -moz-box-shadow: 	none;
  box-shadow: 		none;
  opacity: 			1;  
}




.jumbotron {
  height: 99vh;
  margin: 0;
  padding: 0;
}
.slider-arrow {
  position: absolute;
  top:      32%;
  height:   74px;
  width:    29px;
  z-index:  1000;
  background-repeat: no-repeat;
}
.prev-button {
  left: 5px;
  background-image: url('../images/prev.png')
}.next-button {
  right: 5px;
  background-image: url('../images/next.png')  
}
.cycle-wrap {
	width:100%;
	margin: 0 auto;
}
.cycle-slideshow .container {
  height: 99vh;
  min-width: 100%;
  padding: 0 42px;
}