html, body {
  margin:			0;
  padding: 			0;
  height:			100%;
}
#site-content {
  height: 			calc(100% - 85px);
  -moz-box-sizing:	border-box;
  -webkit-box-sizing: border-box;
  box-sizing:		border-box; 
}
.content, .cycle-wrap, .cycle-slideshow, [data-cycle-hash="lets-get-going"], [data-cycle-hash="the-company"] {
  height: 			100%;
  -moz-box-sizing:	border-box;
  -webkit-box-sizing: border-box;
  box-sizing:		border-box;  
}
.col-height {
  height: 			100%;
  overflow: hidden;
  -moz-box-sizing:	border-box;
  -webkit-box-sizing: border-box;
  box-sizing:		border-box; 
}
@media (max-width: 992px) {
    body{font-size: 12px;}
}
@media (max-width: 768px) {
    body{font-size: 10px;}
}
.navbar-default {
  background: 		#eaeff2;
  margin-bottom: 	0;
}
.navbar-default .navbar-brand {
  height: 			85px;
  padding-top: 		15px;
}
@media (min-width: 768px) { 
  .navbar>.container-fluid .navbar-brand{
    margin-right: 	75px;
    margin-left:	45px;
  }
}
.navbar-default .navbar-nav {
  margin-top: 		30px;
}
.navbar-default .navbar-nav>li>a {
  padding:   		3px 12px;
  color: 			#f05133;
  text-transform:   uppercase;
  text-shadow: 		none;
  background: 		none;  
  -webkit-box-shadow: none;
  -moz-box-shadow: 	none;
  box-shadow: 		none;
  -webkit-transition: background 0.1s linear,opacity 0.1s linear;
  -moz-transition: 	background 0.1s linear,opacity 0.1s linear;
  -ms-transition: 	background 0.1s linear,opacity 0.1s linear;
  -o-transition: 	background 0.1s linear,opacity 0.1s linear;
  transition: 		background 0.1s linear,opacity 0.1s linear;
  -webkit-font-smoothing: antialiased;			
  opacity: 			.9;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: 			#eaeff2;
  background-color: #f05133;
  -webkit-box-shadow: none;
  -moz-box-shadow: 	none;
  box-shadow: 		none;
  opacity: 			1;  
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: 			#eaeff2;
  background-color: #f05133;
  -webkit-box-shadow: none;
  -moz-box-shadow: 	none;
  box-shadow: 		none;
  opacity: 			1;  
}
.cycle-slideshow .container {
  min-height:		100%;
  min-width:		100%;
}
.side-stripe-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background-image: url(../images/side-stripes-left.png);
  background-repeat: repeat-y;
  min-height: 100%;
  width: 17px;
}
.side-stripe-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  background-image: url(../images/side-stripes-right.png);
  background-repeat: repeat-y;
  min-height: 100%;
  width: 17px;
}
@media (max-width: 768px) { 
  .side-stripe-left, .side-stripe-right {
    display: none;
  }
}
[data-cycle-hash="ezextends"]{ 
  background: url(../images/ezextends-bg.jpg) no-repeat left top 85px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
[data-cycle-hash="the-lowdown"]{ 
  background: url(../images/lowdown.svg) #EF5033 no-repeat left top 85px fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
[data-cycle-hash="lets-get-going"]{ 
  background: url(../images/get-going-bg.jpg) no-repeat left top 85px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
[data-cycle-hash="the-company"] {
  background-color: #C6CED3;
}
.going-wrapper, .company {
	height: calc(100% - 150px);
	margin: 70px 55px;
	padding: 0px;
}
.company {
	background-color: blue;
}
@media (min-width: 768px) { 
  .ezextends {
  margin-top: 75px;
  margin-right: 60px;
  }
}
@media (max-width: 768px) { 
  .ezextends {
  margin-top: 15px;
  }
}
.ezextends {
  max-width: 570px;
}
section#intro {
  background-color: rgba(228, 234, 238, 0.5);
  padding:			14px 18px 18px;
}
section#intro h1 {
  color: #f05133;
  font-size: 6.5em;
  line-height: 1.8em;
  margin: 0;
  padding: 0;
}
section#easy {
  border: 1px solid	#ffffff;
}
section#easy h1 {
  width: 6.3em;;
  color: #e9eef1;
  font-size: 2.25em;
  line-height: 1.75em;
  margin: 0;
  padding: 0;
  border-bottom: 20px solid #E9EDF0;
  margin-left: 15px;

}
@media (max-width: 768px) {
  section#intro h1 {
    font-size: 4.38em
  }
}
section#intro p {
  font-size: 1.07em;
  color: #373d41;
  margin-left: 5px;
  margin-bottom: 0;
}
section#easy p {
  font-size: 1.07em;
  line-height: 1.07em;
  color: #e9eef1;
  margin: 10px 15px 15px;
}
.going-outer {
	position: relative;
	margin: auto;
	max-width: 1024px;
	height: 100%;

}
.going-inner {
  height: 50%;

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding:75px 90px;
}
.going-inner section {
	background-color: rgba(228, 234, 238, 0.7);
	max-width: 400px;
	height: 200px;
	padding: 5px 25px;
}
.going-inner section h2 {
	font-size: 1.42em;
	line-height: 1.8em;
	border-bottom: 20px solid #ee5033;
	width:200px;
	text-transform: uppercase;
}
.going-inner section p {
	font-size: .92em;
}
.column-1 {
	width: 37%;
	float: left
}
.column-2 {
	width: 26%;
	float: left
}
.column-3 {
	width: 37%;
	float: left
}
.company section {
	padding: 5px 35px 35px;
}
.company h2 {
	margin: 0;
	font-size: 1.42em;
	line-height: 1.8em;
	padding-top: .77em;
	color: #e9eef1;	
}
.company p {
	margin: 0;
	font-size: .92em;
	line-height: 1.2em;
	padding-top: .77em;
	color: #e9eef1;
}
.company .rimage {
	width: 100%;
}
figure.rimage img {
	min-width: 100%;
}
.column-2 figure img {
	min-height: 40%;
}
.column-3 figure img {
	min-height: 41.5%;
}
.msm {
	background-color: #373c41;
	min-height: 40%;
}
.msm h2 {
	border-bottom: 20px solid #ee5033;
	width: 2.51em;
}
.chutes {
	background-color: #e9edf0;
	min-height: 40%;
}
.chutes h2 {
	color: #373d41;
	border-bottom: 20px solid #373c41;
	width: 7.5em;
}
.chutes p {
	color: #373d41;
}
.stuff {
	background-color: #757d83;
	min-height: 63%;
}
.stuff h2 {
	border-bottom: 20px solid #e9edf0;
	width: 12.8em;
}
.security {
	background-color: #ee5033;
}
.security h2 {
	border-bottom: 20px solid #e9edf0;
	width: 5em;
}
.lock {
	background-color: #373c41;
	padding-left: 128px!important;
	min-height: 41.5%;
}
.lock h2 {
	border-bottom: 20px solid #ee5033;
	width: 10.6em;
}
.concrete {
	background-color: #9ba3aa;
	min-height: 46%;
}
.concrete h2 {
	border-bottom: 20px solid #e9edf0;
	width: 13.5em;
}
.slider-arrow {
  position: absolute;
  top:      32%;
  height:   74px;
  width:    29px;
  z-index:  1000;
  background-repeat: no-repeat;
}
.prev-button {
  left: 5px;
  background-image: url('../images/prev.png')
}.next-button {
  right: 5px;
  background-image: url('../images/next.png')  
}
@media (max-width: 1136px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse.collapse.in { 
        display: block!important; 
    }
}