/* DOCUMENT INFORMATION
	- Document: EZE Main Stylesheet
	- Version:  1
	- Author:   J. Starace
*/

@import "/vendor/bootstrap/less/bootstrap.less";

// Vars


// Global Colors
@brand-red: 		#EF5033;
@brand-black: 		#373D41;
@brand-white:		#E9EEF1;
@brand-grey:		#C6CED3;
@brand-grey-dark:	#757E83;
@brand-grey-medium:	#9BA4AA;

// Nav
@nav:				@brand-white;
@nav-text: 			@brand-red;
@nav-active-text:	@brand-white;
@nav-active-item:	@brand-red;
@nav-ht:			85px;

// Pages


// Mixins

.box-shadow() {
  -webkit-box-shadow:	none;
     -moz-box-shadow:	none;
      -ms-box-shadow:	none;
       -o-box-shadow:	none;           
          box-shadow:	none;
}
.box-sizing() {
  -webkit-box-sizing:   border-box;
     -moz-box-sizing:	border-box;
  	  -ms-box-sizing:	border-box;
       -o-box-sizing:	border-box;    
          box-sizing:	border-box; 
}
.background-size (@size){
  -webkit-background-size:	@size;
  	 -moz-background-size:	@size;
  	  -ms-background-size:	@size;
       -o-background-size:	@size;
          background-size:	@size;
}
.nav-a-transition() {
  -webkit-transition:	background 0.1s linear,opacity 0.1s linear;
     -moz-transition:	background 0.1s linear,opacity 0.1s linear;
      -ms-transition:	background 0.1s linear,opacity 0.1s linear;
       -o-transition:	background 0.1s linear,opacity 0.1s linear;
          transition:	background 0.1s linear,opacity 0.1s linear;
}
.nav-active() {
  color: 				@nav-active-text;
  background-color: 	@nav-active-item;
  opacity: 				1;				
  .box-shadow;
}
.button() {
  position: absolute;
  top:      50%;
  height:   48px;
  width:    55px;
  z-index:  1000;
  background-repeat: no-repeat;
  
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.full-ht-minus-nav() {
  height:				calc(~"100% - "@nav-ht);
}
.vertical-align() {
  position:				relative;
  top:					50%;
  -webkit-transform:	translateY(-50%);
     -moz-transform:	translateY(-50%);
      -ms-transform:	translateY(-50%);
       -o-transform:	translateY(-50%);
          transform:	translateY(-50%);  
}
.undo-vertical-align() {
  position:				relative;
  top:					auto;
  -webkit-transform:	none;
     -moz-transform:	none;
      -ms-transform:	none;
       -o-transform:	none;
          transform:	none;  
}
.company-col {
  height: 				100%;
  float:				left;
  overflow: 			hidden;
  .box-sizing; 
}


// Styles

html, body {
  height:			100%;
  margin:			0;
  padding: 			0;
}

body {
  @media only screen and (max-width: @screen-md-min) {
  	font-size: 12px;
  }
  @media only screen and (max-width: @screen-sm-min) {
  	font-size: 11px;
  }
}

// Navbar

.navbar-default {
  background-color: @nav;
  border-color:		@brand-grey;
  margin-bottom: 	0;
	
	.container-fluid .navbar-brand {
  		height: 		@nav-ht;
  		padding-top:	15px;
  		
  		@media only screen and (min-width : 768px) {
    		margin-left:	45px;
    		margin-right: 	75px;
    	}
	}

	.navbar-nav {
	  margin-top: 30px;
	
		li>a {
			-webkit-font-smoothing: antialiased;
			padding:				3px 12px;
			color:					@nav-text;
			text-transform:   		uppercase;
			text-shadow: 			none;				
			background: 			none;
			opacity: 				.9;				  
			.box-shadow;
			.nav-a-transition;
		
			&:hover, &:focus {
				.nav-active;
			}
		}
		
		li.active>a {
		  .nav-active;
			
			&:hover, &:focus {
				.nav-active;
			}
		}		
	}
}

// Site Buttons

.prev-button {
  left:					0px;
  background-image: 	url(../images/prev.png);
  .button;
}

.next-button {
  right: 				0px;
  background-image: 	url(../images/next.png);
  .button;   
}

// Site Content

#site-content {
  .full-ht-minus-nav;
  .box-sizing;
  
  .fluid-height {
    height: 	    100%;
    .box-sizing;
  }
  
  .cycle-slideshow .container {		/* Set each page to be full height and width of site-content div */
    height:		    100%;
    width:		    100%;
    padding-left:	0;
    padding-right:	0;
  }
  
  /* EZEXTENZ */
  
  [data-cycle-hash="ezextenz"] {
    background: url(../images/ezextenz-bg.jpg) no-repeat left top 85px fixed;
    .background-size(cover);
  }
    
  .ezextenz {
    max-width:	570px;
    float:		right;    

	section {
	  background-color:	rgba(228, 234, 238, 0.9);
  	  padding:			14px 18px 18px;
	
	  h2 {
		color:			@brand-red;
		font-size:		6.5em;
		line-height:	.9em;
		margin:			0;
		padding:		0;
		
		@media only screen and (max-width: 768px) { 
		  font-size:	4.38em;
		} 	
	  }
	  
	  p {
	    font-size:		1.00em;
	    color:			#373d41;
	    margin-left:	5px;
	    margin-bottom:	0;
	  }	  
	}
	
	figure {
      float:	right;
	}

	
	@media only screen and (min-width: 768px) {
	  margin-top:	75px;
	  margin-right:	75px;	  
	} 
	
	@media (max-width: 768px) {
	  margin-top:	15px;
	  margin-right: 15px;
	}
  }  								/* End EZEXTENZ */
  
  
  /* LOWDOWN */
  
  [data-cycle-hash="the-lowdown"]{
  	background: url(../images/lowdown-bg.svg) #EF5033 no-repeat center 85px fixed;
  	.background-size(contain);
  }
  
  /* GALLERY */

  [data-cycle-hash="chute-gallery"] {
    background: url(../images/gallery-bg.jpg) @brand-grey no-repeat left top 85px fixed;
    .background-size(contain);
  }

  
  /* LETS GET GOING */

  [data-cycle-hash="lets-get-going"] {
    background: url(../images/get-going-bg.old.jpg) no-repeat center 85px fixed;
    .background-size(cover);
  }
    
  .going {
    height:					100%;
    
    >div {
      max-width:			845px;
      height: 				250px;
      margin: 				0 auto;
      .vertical-align;
      
      @media only screen and (max-width: 799px) {
	  	max-width: 			400px;
	  	height: 			auto;
	  	margin: 			25px auto;
	  	.undo-vertical-align;
      }      
      
      
	  
	  section {
	    background-color:	rgba(228, 234, 238, 0.9);
		height:				250px;	    
	    max-width:			400px;
		padding:			5px 25px;
		
		@media only screen and (max-width: 799px) {
			margin: 		10px;
	    }
	  
	    h2 {
	      font-size:		1.42em;
		  line-height:		1.8em;
		  margin-top:		10px;
		  border-bottom:	20px solid @brand-red;
	    }
	    
	    p {
	      font-size:		1.00em;
	    }
	  	
	  	&.install {
	      float:			left;
	      
	      @media only screen and (max-width: 799px) {
		      float: 		none;
	      }
	    }
	  	
	  	&.training {
	      float:			right;
	      
	      @media only screen and (max-width: 799px) {
		      float: 		none;
	      }
	    }		    
	  }  
    }
  }  								/* End LETS GET GOING */
  
  /* COMPANY */

  [data-cycle-hash="the-company"] {
    background-color: @brand-grey;
  }
  
  .company {
    height:			100%;
	  
    section {
      .vertical-align;
      
      @media only screen and (max-width: 768px) {
	  	.undo-vertical-align;
	  	margin-top: 35px;
	  }
	
	  img {
	    margin:		0 auto;
	  }		    
    }  
  }  								/* End COMPANY */

  
  /* CONTACT */
  
  [data-cycle-hash="contact"] {
	background-color:		@brand-grey;
	border: 				50px white solid;
	
	@media only screen and (max-width: 768px) {
		border: 			none;
	}
  }
  
  .contact {
    height:					100%;
    background-color:       @brand-grey;
    
    >div {
      max-width:			575px;
      margin: 				0 auto;
      .vertical-align;

	  @media only screen and (max-width: 768px) {
		margin-top: 		35px;	
		.undo-vertical-align;
	  }
	  
	  section {
	    background-color:	#ffffff;	    
	    max-width:			575px;
		padding:			25px;
		margin-bottom: 		10px;
			  
	    h2 {
	      color:			@brand-black;
	      font-size:		1.2em;
		  line-height:		1.4em;
		  margin-top:		0px;
		  border-bottom:	15px solid @brand-black;
	    }
	    
	    p {
	      color:			@brand-black;
	      font-size:		1.00em;
	      
	      a {
	      	color:			@brand-black;
	      }
	    }
		
		.left {
		  float:			left;
		  
		  h2 {
		    width:			9em;
		  }
		}
		
		.right {
		  float:			right;
		  
		  h2 {
		    width:			12em;
		  }
		}
		
		img {
		  margin-top:		5px;
		}	    		    
	  }  
    }
  }  								/* End CONTACT */

  
  
}